<!-- <div class="container mat-elevation-z8">
  <div><h2 class="title">Novo Cupom</h2></div>
  <div><p class="sub-title">Informações do Cupom</p></div>

  <form class="cupom-form" fxLayoutGap="12px" fxLayout="column">
    <mat-form-field class="input-form" appearance="outline">
      <mat-label>Identificador</mat-label>
      <input matInput name="identificador" placeholder="Nome Cupom" />
    </mat-form-field>
    <div><p class="text">Configurações do Cupom</p></div>
    <mat-form-field class="input-form" appearance="outline">
      <mat-label>Tipo Valor</mat-label>
      <mat-select name="tipoValor">
        <mat-option [value]="valor" *ngFor="let valor of tipoValor">
          {{ valor }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input-form" appearance="outline">
      <mat-label>Valor</mat-label>
      <input matInput name="valor" placeholder="Valor" />
    </mat-form-field>

    <mat-form-field class="input-form" appearance="outline">
      <mat-label>Tipo Cupom</mat-label>
      <mat-select name="tipoCupom">
        <mat-option [value]="cupom" *ngFor="let cupom of tipoCupom">
          {{ cupom }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="input-form" appearance="outline">
      <mat-label>Valor Mínimo</mat-label>
      <input matInput name="dataI" placeholder="Ex. 0,00" />
    </mat-form-field>
    <mat-form-field class="input-form" appearance="outline">
      <mat-label>Valor Máximo</mat-label>
      <input matInput name="dataI" placeholder="Ex. 99,99" />
    </mat-form-field>
    <mat-form-field class="input-form" appearance="outline">
      <mat-label>Benefício</mat-label>
      <input matInput name="dataI" placeholder="Data Inicial" />
    </mat-form-field>
    <mat-form-field class="input-form" appearance="outline">
      <mat-label>Data Inicial</mat-label>
      <input matInput name="dataI" placeholder="Data Inicial" />
    </mat-form-field>
    <mat-form-field class="input-form" appearance="outline">
      <mat-label>Data Final</mat-label>
      <input matInput name="dataF" placeholder="Data Final" />
    </mat-form-field>
    <div
      class="ativo"
      fxLayoutAlign="align-items: space-between"
      fxLayout="column-reverse"
      fxLayoutGap="12px"
    >
      <mat-label>Ativo</mat-label>
      <mat-slide-toggle
        name="ativo"
        color="primary"
        (click)="$event.stopPropagation()"
      ></mat-slide-toggle>
    </div>
  </form>
</div>
<div class="buttom-bar">
  <div class="box-btn" fxLayout="row" fxLayoutAlign="end center">
    <button
      class="btn-cadastro"
      mat-raised-button
      color="accent"
      (click)="goBack()"
    >
      VOLTAR
    </button>

    <button class="btn-cadastro salvar" mat-raised-button color="primary">
      CADASTRAR
    </button>
  </div>
</div> -->
